* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

ul {
  list-style: none;
}

.alert-list {
  display: flex;
  padding: 20px;
  flex-direction: column;
}

.alert-danger {
  color: tomato;
  font-weight: bold;
  margin-top: 10px;
}
